<h1>NOTES</h1>
<!-- <div class="grid-stack">
    <app-dashboard-tile class="grid-stack-item"></app-dashboard-tile>
    <app-dashboard-tile class="grid-stack-item"></app-dashboard-tile>
    <app-dashboard-tile class="grid-stack-item"></app-dashboard-tile>
    <app-dashboard-tile class="grid-stack-item"></app-dashboard-tile>
    <app-dashboard-tile class="grid-stack-item"></app-dashboard-tile>
    <app-dashboard-tile class="grid-stack-item"></app-dashboard-tile>
</div> -->

<!-- <div class="grid-stack">
    <div class="grid-stack-item">
      <div class="grid-stack-item-content">Item 1</div>
    </div>
    <div class="grid-stack-item">
      <div class="grid-stack-item-content">Item 2</div>
    </div>
</div> -->

<app-dashboard></app-dashboard>


<script>
    // let grid = GridStack.init();
</script>

<style>
    .grid-stack {
 background-color: #f0f8ff;
}

.grid-stack-item-content {
 background-color: #0000ff;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
}
</style>

<!-- <pre>
    {{ profiles }}
</pre> -->