/* You can add global styles to this file, and also import other style files */
@import "fonts";

:root{
    --light-color: #EFEFEF;
    --blue-color: #3777ff;
    --bone-color: #C8C6AF;
    --ebony-color: #5F634F;
    --purpule-color: #3B1F2B;
    --fire-color: #DB162F;
    --text-grey-color: #474747;
    --text-light-color: #EFEFEF;
}


body {
    background-color: var(--light-color);
    color: var(--text-grey-color);
    font-family: "Advent Pro", sans-serif;;
}